
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Bold.woff2') format('woff2'),
        url('MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.logo-header {
    width: 275px;
}

.logo-header-bg {
    width: 90%;
    position: relative;
    top: 0;
    left: -270px;
    display: inline-block;
    overflow: visible;
    z-index: -100000000;
}
.navbar.fixed-top {
    padding-top: 0px;
    background-color: transparent !important;
}

.navbar-brand {
    width: 275px; 
    padding-top: 0px;
}

.white-bg {
    background-color: #FFFFFF!important;
    color: #343A40 !important;
}

.main-menu {
    background: #333333;
    padding: 8px;
    display: inline-block; /** this might need to go away **/
}

.main-menu * {
    font-family: 'Myriad Pro' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.main-menu .navbar-nav {
    background: #000000;
}

.main-menu .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 24px;
    
}

.main-menu .navbar-nav .nav-link.gray {
    color: #343A40;
    font-size: 32px;
    line-height: 1;
}

#carouselExampleIndicators.container {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 80px;
}

.carousel-item.candidates {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100%; 
    border-top: 10px solid rgba(0, 0, 0, .6);
}

footer.bg-dark {
    background-color: #000000 !important;
}